.button {
    -fx-background-color: #0a192f;
    -fx-text-fill: white;
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: #172a45;
}

.button:pressed {
    -fx-background-color: #172a45;
}

.button:focused {
    -fx-background-color: #172a45;
}

.button2 {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 0em;
}

.button2:hover {
    -fx-background-color: #172a45;
    -fx-border-color: #172a45;
}

.button2:pressed {
    -fx-background-color: #172a45;
}

.button2:focused {
    -fx-background-color: #172a45;
    -fx-fill-color: #ffffff;
}
